<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - {% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="./assets/scripts/scriptAdmin.js"></script>
</head>
<body>
    <div class="AdminTitle">
        <img src="./assets/images/logo_sloth.svg" width="80px">
        <h1>Veg'n'Chill</h1>
    </div>
    <nav class="adminNav">
        <a href="?action=homeAdmin">Acceuil</a>
        <a href="?action=generalAdmin">Général</a>
        <a href="?action=displayAdmin">Affichage</a>
        <a href="?action=usersAdmin">Utilisateurs et groupes</a>
    </nav>
    {% block content %}{% endblock %}
    {% block script %}
        <script> window.addEventListener('scroll', () =>{
            document.querySelector('.adminNav').style.left = originalLeft - this.scrollLeft();
        })
        </script>{% endblock %}
</body>
</html>