<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - {% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="AdminTitle">
        <img src="./assets/images/logo_sloth.svg" width="80px">
        <h1>Veg'n'Chill</h1>
    </div>
    <div class="backgroundNav">
        <nav class="adminNav">
            <a href="?action=homeAdmin">Acceuil</a>
            <a href="?action=generalAdmin">Générale</a>
            <a href="?action=displayAdmin">Affichage</a>
            <a href="?action=usersAdmin">Utilisateurs et groupes</a>
            {% block content %}{% endblock %}
            {% block script %}{% endblock %}
        </nav>
    </div>
</body>
</html>