{% extends 'layout.html.twig' %}

{% block page_title %}A propos{% endblock %}

{% block content %}
    <div class="imgTitlePage aboutTitleImg">
        <div class="blockTitlePage blockTitleAbout">
            <h1>L'Equipe</h1>
            <h3>Présentation de l'équipe</h3>
            <p>Derrière Vegnchill il y a 8 personnes à savoir :
                -Valentin Doris et Marianne qui s’occupent du design de ce magnifique site
                -Lilian et Yanis qui s’occupent du développement du site
                -Alexandre et Lauriane qui s’occupent de toute la partie marketing du projet
                Et bien entendu Hortense, chef de projet, qui coordonne tous ce petit monde pour vous proposerez meilleur site possible !
            </p>
            <div class="mail">
                <img src="./assets/images/emailImg.svg" width="5%">
                <div class="textMail">contact@vegnchill.com</div>
            </div>
        </div>
    </div>
    <div class="blockFormContact">
        <div class="bgFormContact"></div>
        <form method="POST" action="?action=contactUs" name="contact">
            <h3>Nous contacter</h3>
            <input class="emailFormContact" type="email" placeholder="E-mail" name="email" required>
            <input class="objectFormContact" type="text" placeholder="Objet" name="mailObj" required>
            <input class="messageFormContact" type="text" placeholder="Votre message..." name="message" required>
            <button><img src="./assets/images/arrow.svg" width="50px"></button>
        </form>
    </div>
    <div class="blockTeam">
        <h3 class="titleTeam">L'équipe</h3>
        <div class="blockImgTeam">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
            <img src="./assets/images/imgHowToVeganBot.svg">
        </div>
    </div>
    <div class="headerOnTheFrontPage">
        <div class="lineSeparateLeft"></div>
        <div class="titleOnTheFrontPage">Nos remerciements</div>
        <div class="lineSeparateRight"></div>
    </div>
    <div class="blockTextListThanks">
        <div class="textThanks">L'équipe de Vegan n' Chill tient à remercier : Am, Stram et Gram pour leur soutien.</div>
        <ul class="listThanks">
            <li>Une chaleureuse pensée pour :</li>
            <li>- a</li>
            <li>- b</li>
            <li>- c</li>
            <li>Et enfin : Vous ! (svp augmentez notre note &hearts;)</li>
        </ul>
    </div>
    <div class="blockImgHowToVeganBot">
        <img class="imgNewsBot" src="./assets/images/imgHowToVeganBot.svg">
    </div>
{% endblock %}
{% block script %}
<script src="./assets/scripts/sendMail.js"></script>
{% endblock %}