{% extends 'layout.html.twig' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="backgroundHomeMobile1"></div>
<div class="imgBurgerHome">
<div class="blockTextBurger">
    <div class="TextImgBurger1"> Bien manger c'est avant tout se faire plaisir !</div>
      <div class="TextImgBurger2">Une nouvelle recette<br> chaque jour !</div>
    <button class="btnImgBurger">DECOUVRIR</button>
  </div>
</div>
<div class="backgroundOnTheFrontPage"></div>
<div class="blockOnTheFrontPage">
</div>
    <div class="headerOnTheFrontPage">
        <div class="lineSeparateLeft"></div>
        <div class="titleOnTheFrontPage">A la une</div>
        <div class="lineSeparateRight"></div>
    </div>
    <div class="articlesOnTheFrontPage">
        <div class="blockArticleOnTheFrontPage articleOnTheFrontPage1">
            <img src="./assets/images/exampleImage">
            <div class="titleArticle">titre</div>
            <div class="userArticle">par <span class="nameUserArticle">nom</span> le ../..</div>
            <img class="iconHeart" src="./assets/images/iconHeart.svg" width="40px">
            <div class="divLikeCommentArticle">
                <div class="likeArticle">12 likes</div>
                <div class="commentArticle">26 comments</div>
            </div>
        </div>
        <div class="blockArticleOnTheFrontPage articleOnTheFrontPage2">
            <img src="./assets/images/exampleImage">
            <div class="titleArticle">titre</div>
            <div class="userArticle">par <span class="nameUserArticle">nom</span> le ../..</div>
            <img class="iconHeart" src="./assets/images/iconHeart.svg" width="40px">
            <div class="divLikeCommentArticle">
                <div class="likeArticle">12 likes</div>
                <div class="commentArticle">26 comments</div>
            </div>
        </div>
        <div class="blockArticleOnTheFrontPage articleOnTheFrontPage3">
            <img src="./assets/images/exampleImage">
            <div class="titleArticle">titre</div>
            <div class="userArticle">par <span class="nameUserArticle">nom</span> le ../..</div>
            <img class="iconHeart" src="./assets/images/iconHeart.svg" width="40px">
            <div class="divLikeCommentArticle">
                <div class="likeArticle">12 likes</div>
                <div class="commentArticle">26 comments</div>
            </div>
        </div>
        <div class="blockArticleOnTheFrontPage articleOnTheFrontPage1">
            <img src="./assets/images/exampleImage">
            <div class="titleArticle">titre</div>
            <div class="userArticle">par <span class="nameUserArticle">nom</span> le ../..</div>
            <img class="iconHeart" src="./assets/images/iconHeart.svg" width="40px">
            <div class="divLikeCommentArticle">
                <div class="likeArticle">12 likes</div>
                <div class="commentArticle">26 comments</div>
            </div>
        </div>
    </div>
<div class="novice">
    <div class="noviceLeft">
        <div class="titleNovice">Novice?</div>
        <div class="textNovice">Si veganisme vous interesse
            <br>mais que vous n'avez aucune idée de comment vous lancer,
            <br>Vegan Chill a la solution pour vous!
            <br>Rejoignez-nous et découvrez :</div>
        <div class="textHowToVegNovice">Veganchill's How to Vegan</div>
        <button class="btnNovice">C'EST PARTI MON KIWI</button>
    </div>
    <img class="imgNovice" src="./assets/images/logo_sloth.svg" width="300px">
</div>
<div class="blockLinksHome">
    <a href="http://supervegan.fr/" class="blockLink1">
        <div class="textLinksHome">
            <div class="textSuperVegan">VISITEZ LE SUPER VEGAN</div>
        </div>
    </a>
    <div class="blockLinksHomeRight">
        <a href="#" class="blockLink2">
            <div class="textLinksHome">
                <div class="textPointOfSale">LES POINTS DE VENTE VEGANS</div>
            </div>
        </a>
        <a href="#" class="blockLink3">
            <div class="textLinksHome">
                <div class="textTips">LES BONNES ASTUCES</div>
            </div>
        </a>
    </div>
</div>
<div class="backgroundHomeMobile2"></div>
<div class="blockNewsletter">
    <div class="titleNewsletter">Newsletter</div>
    <img src="./assets/images/separateNewsletter.svg" class="separateNewsletter1">
    <div class="textNewsletter1">L'inscription à VeganChill ne prend que quelques secondes</div>
    <div class="textNewsletter2">Recevez la newsletter de VeganChill afin de ne louper aucun bon plan !</div>
    <form name="newsletterForm">
        <input type="email" name="email" placeholder="E-mail" class="inputNewsletter"><button class="newsletterBtn">ok</button>
    </form>
    <img src="./assets/images/separateNewsletter.svg" class="separateNewsletter2">
</div>
<div class="aboutHome">
    <div class="titleAboutHome">Qui sont les VeganChill ?</div>
    <div class="blockShadows">
        <button class="aboutHomeBtn">A propos</button>
    </div>
</div>
{% endblock %}
