{% extends 'layout.html.twig' %}

{% block page_title %}Home{% endblock %}

{% block content %}
    <div class="imgTitlePage imgTitleHowToVegan">
        <div class="blockTitlePage">
            <h1>How To Vegan</h1>
            <h3>Un guide simple pour bien débuter</h3>
            <p>Pourquoi devenir Vegan ? Et surtout comment faire pour y parvenir sans avoir l’impression de se priver ? Dans cette partie du site nous vous révélons nos meilleurs secrets et astuces pour manger bien tout en se faisant plaisir au maximum !</p>
        </div>
    </div>
    <article class="divHowToVegan">
        <h3>Pourquoi devenir Vegan?</h3>
        <p>Le mode de vie Vegan est un choix, ne laissez personne d’autre vous dire le contraire. Vous choisissez de devenir Vegan pour une raison précise, qui ne concerne que vous.</p>
        <p>Vous ne supportez plus le traitement des animaux dans l’industrie agro-alimentaire d’aujourd’hui, vous trouvez que les animaux sont des êtres sensible et qu’il ne faut donc pas les manger, devenir vegan aiderait à diminuer notre impact sur la planète… Votre raison importe peu, soyez fier de défendre vos idées.</p>
        <p>Défendre ses idées c’est bien, mais certaines personnes n’arrivent tout de même pas à franchir le cap. Pourquoi ? A cause de ce stéréotype véhiculé de nos jours comme quoi le vegan ne se nourrirait que de salade, de graines et d’autre aliments qui ne nourrissent pas. L’idée qu’être vegan ou végétarien c’est se priver du plaisir des aliments des omnivore est présente dans beaucoup d’esprit aujourd’hui.
            Seulement voilà, chez Veg’n’Chill on vous propose des recettes faites pour vous faire plaisir tout en respectant vos convictions. Ici pas question de manger uniquement des graines et de la salade, on vous propose des plats recherché et complet pour vous procurer un maximum de plaisir !</p>
        <p>Aujourd’hui n’importe quel aliment peut être remplacé par autre chose, il ne faut pas hésiter à tester avec ce que l’on connait, de faires quelques recherches sur le net pour finalement s’improviser de bons petits plats vegan !</p>

        <img class="imgHowToVegan1" src="./assets/images/imgHowToVegan1.svg">

        <h3>Comment devenir Vegan?</h3>

        <p>Il est normal d’avoir peur des carence, après tout depuis tout petit on nous rabâche à longueur de temps que la viande rend plus fort, que le lait fortifie les os… Alors quand vient le moment de sauter le pas on a peur, peur d’avoir mauvaise mine, de ressentir plus de fatigue, d’avoir des étourdissements… Mais il n’y a pas de raison d’avoir peur, l’alimentation vegan est tout aussi riche en protéine que n’importe quelle autre alimentation ! Si on apprend à bien se nourrir.</p>

        <h3>Le poisson et la viande</h3>

        <p>Il faut tout d’abord remplacer la viande et le poisson. Il s’agit du premier pas à faire, un grand pas souvent difficile pour ceux qui veulent commencer un régime vegan. La quantité de protéines recommandées par jour est de 40 à 55g pour un adulte, nous avons donc tout ce qu’il nous faut dans une alimentation végétale équilibrée :  céréales (riz, blé, semoule, avoine, millet…), légumineuses (lentilles, haricots, pois chiches, soja…), oléagineux (noix, noisettes, amandes…), graines (quinoa, graines germées…), légumes et fruits.</p>
        <p>Pour ce qui est du fer n’hésitez pas à vous rabattre sur les végétaux également, qui contiennent autant voire parfois plus de fer que la viande ! Par exemple la Dulse, une algue rouge à consommer finement hachée ou saupoudrée sur une salade, contient 18 fois plus de fer que le boeuf. Pour améliorer l’absorption du fer par votre organisme, il est conseillé d'associer les sources de fers (salade, épinard... ) avec des sources de vitamine C (pamplemousse, citron, orange...).</p>

        <img class="imgHowToVegan2" src="./assets/images/imgHowToVegan2.svg">

        <div class="flexHowToVegan1">
            <div class="flexHowToVegan1Content">
                <h3>Les Omégas 3</h3>

                <p>Pour ce qui est des omégas 3 (généralement présent en masses dans les poissons et autres produits de la mer), on en trouve également une quantité plus que suffisante dans de nombreuses sources végétales telles que : les graines de chia, les graines de lins, les graines de chanvre alimentaire et huile de chanvre, le colza, les légumes verts, le soja et les micro algues. </p>

            </div>

            <img src="./assets/images/imgHowToVegan3.svg">
        </div>

        <div class="flexHowToVegan2">
            <div class="flexHowToVegan2Content">
                <h3>La vitamine B12</h3>

                <p>Pour ce qui est de la vitamine B12, essentielle au bon fonctionnement du cerveau, du système nerveux et à la formation du sang, c'est la seule vitamine qui n'est pas présente dans les végétaux. Vous allez donc devoir l'ingérer sous forme de compléments alimentaire. Vous pouvez choisir de vous supplémenter en choisissant de consommer, soit :
                    <ul>
                        <li>1 µg de B12 trois fois par jour</li>
                        <li>10 µg de B12 une fois par jour</li>
                        <li>2 000 µg de B12 une fois par semaine.</li>
                    </ul>
                </p>
            </div>

        <img src="./assets/images/imgHowToVegan4.svg">
        </div>

        <div class="flexHowToVegan3">
            <div class="flexHowToVegan3Content">
                <h3>Le lait et les produits laitiers</h3>

                <p>Pour ce qui est du lait et des produit laitier en général, ça ne devrait pas être un problème puisque le calcium ne vient pas de la contrairement aux idées reçues. Il y a de nombreux aliment riche en calcium, plus riche même que le lait. Il y a une autre façon toute simple de compenser, en buvant de l'eau minérale. Celles recommandées pour les femmes enceintes sont particulièrement riches en calcium. </p>
                <p>Si vous ne pouvez vraiment pas vous passer de lait ou encore que vous en avez besoin pour diverses préparations culinaires, vous pouvez vous rabâtre sur le lait végétal (épautre, avoine, coco...). Il en existe une grande variété qui vous permettra de changer de boisson aux grès de vos envies puisque les goûts ne sont pas du tout les mêmes d'un produit à l'autre. </p>
                <p>Pour ce qui est du fromage, aujourd'hui sont commercialisés des "fromages végétaux" qui ressemblent en tout point aux niveau textures ) de vrais fromages.
                    Attention néanmoins Les substituts végétaux du commerce contiennent parfois de la caséine (protéine de lait) ou / et de l’huile de palme. Soyez attentif aux listes d’ingrédients et étiquetages.</p>
                <p>N'hésitez pas également à tenter votre chance et à faire votre propre fromage végétal à la maison! Il existe de nombreux tutoriels / recettes qui vous donnent toute la marche à suivre et rendent les possibilités infinies!</p>
            </div>
            <img src="./assets/images/imgHowToVegan5.svg">
        </div>

        <h3>Les oeufs</h3>

        <p>Manger des œufs n’est pas une nécessité pour être en bonne santé. Certes, ils contiennent des protéines, de la vitamine D et de la B12, mais nous pouvons aisément trouver ces éléments dans l’alimentation végétale. Voici un tableau pour vous aider lors de vos préparations culinaires.</p>

        <img class="imgHowToVegan6" src="./assets/images/imgHowToVegan6.svg">

        <div class="blockImgHowToVeganBot">
            <img class="imgHowToVeganBot" src="./assets/images/imgHowToVeganBot.svg">
        </div>
    </article>

{% endblock %}