{% extends 'layout.html.twig' %}

{% block page_title %}Interview{% endblock %}

{% block content %}
<div class="imgTitlePage imgTitleInterview">
    <div class="blockTitlePage">
        <h1>Interview</h1>
        <h3>Interview de Gala</h3>
        <div class="likeTitlePage"><img class="greenHeart" src="./assets/images/greenHeart.svg">35 personnes aiment</div>
        <p>Gala, jeune blogueuse de 25 ans a fait le choix d’adopter un mode de vie vegan, sain et éco-responsable. Elle partage chaque jour avec ses lectrices, recettes, astuces et conseils pour vivre plus sainement et de façon plus éthique.</p>
    </div>
</div>
<div class="blockInterview">
    <h3>Un interview de Bio à la Une</h3>
    <div class="question">
        <div class="bubbleQuestion">Bio à la une : Pourquoi as-tu décidé de devenir végétarienne puis vegan ? Est-ce que ton éthique alimentaire inclue aussi les produits bio ?</div>
        <img src="./assets/images/logo_sloth.svg" width="50px">
    </div>
    <div class="answer">
        <div class="bubbleAnswer"> A l’âge de sept ans, je me suis rendu compte que ce que je mangeais, c’était des animaux morts, et j’avais du mal avec ça. Ensuite je suis devenue vegan, il y a deux ans, car je suis venue au bout ma réflexion sur la souffrance animale. Concernant le bio, oui j’en consomme bien sûr, car j’estime que manger des pesticides, ce n’est pas très folichon. - Gala</div>
        <img src="./assets/images/logo_interview.svg" width="50px">
    </div>

    <img src="./assets/images/imgInterview.svg">

    <div class="question">
        <div class="bubbleQuestion">Adopter le régime végétarien ou vegan revient-il plus cher ?</div>
        <img src="./assets/images/logo_sloth.svg" width="50px">
    </div>
    <div class="answer">
        <div class="bubbleAnswer">Non parce que la viande, le lait, les œufs c’est ce qui coûte le plus cher, et justement depuis que je suis vegan, je mange 100% bio, je peux me permettre de manger bio. Donc non ça ne me revient pas du tout plus cher. - Gala</div>
        <img src="./assets/images/logo_interview.svg" width="50px">
    </div>
    <div class="question">
        <div class="bubbleQuestion">Est-ce que ce régime a bouleversé tes habitudes de vie ?</div>
        <img src="./assets/images/logo_sloth.svg" width="50px">
    </div>
    <div class="answer">
        <div class="bubbleAnswer">Oui, ne serait-ce que quand je vais au restaurant ou chez des amis, c’est un peu plus compliqué. Par contre, chez moi, je cuisine beaucoup plus qu’avant, avant j’avais plus tendance à prendre des plats préparés, maintenant je cuisine plus. Chez les gens, c’est plus compliqué, généralement j’amène toujours un truc à manger pour être sûr de ne pas mourir de faim. - Gala</div>
        <img src="./assets/images/logo_interview.svg" width="50px">
    </div>

    <img src="./assets/images/imgInterview2.svg">

    <div class="question">
        <div class="bubbleQuestion">Que penses-tu de l'image des végétariens, végétaliens ou vegan, dans les médias ? Les médias tombent-ils trop souvent dans la caricature ? Je pense par exemple aux moqueries que reçoit constamment le journaliste Aymeric Caron à propos de ses engagements.</div>
        <img src="./assets/images/logo_sloth.svg" width="50px">
    </div>
    <div class="answer">
        <div class="bubbleAnswer">Je pense qu’il faut avoir de l’autodérision, parce qu’on peut en rire.  Par contre il y a certains médias qui effectivement se moquent un peu trop méchamment je trouve, et  font passer le véganisme pour un truc complètement farfelu. C’est vrai qu’avec ça j’ai un peu du mal mais il faut le prendre avec le sourire. Si ça dérange c’est qu’il y a peut-être moyen de faire changer les mentalités. - Gala</div>
        <img src="./assets/images/logo_interview.svg" width="50px">
    </div>
    <div class="question">
        <div class="bubbleQuestion"> Un message précis à faire passer aux personnes tentées par le veganisme ?</div>
        <img src="./assets/images/logo_sloth.svg" width="50px">
    </div>
    <div class="answer">
        <div class="bubbleAnswer">Être vegan ce n’est pas si difficile, et ce n’est pas aussi fou qu’on le croit. Au final je suis bien mieux depuis que je suis ce régime-là, je suis en accord avec mes valeurs. C’est vraiment simple au final, c’est normal d’être vegan.- Gala</div>
        <img src="./assets/images/logo_interview.svg" width="50px">
    </div>

</div>
<div class="blockOthersPetition">
    <h3 class="titleOthersPetition">Interviews auxquels jeter un oeil ou deux</h3>
    <div class="blockItemsOthersPetition">
        <img src="./assets/images/supervegan.svg">
        <img src="./assets/images/supervegan.svg">
        <img src="./assets/images/supervegan.svg">
        <img src="./assets/images/supervegan.svg">
    </div>
</div>
<div class="blockCommentsMobile">
    <h3 class="titleCommentsMobile">Commentaires</h3>
    <form>
        <div class="flexImgInputComments">
            <img src="./assets/images/logo_sloth.svg" width="50px">
            <input type="text" placeholder="Commentaires">
            <button class="buttonComments">
                <img class="arrowComments" src="./assets/images/arrow.svg" width="30px">
            </button>
        </div>
    </form>
    <div class="viewAllComments">
        <div class="viewAllCommentsText">Voir tous les commentaires</div>
        <img src="./assets/images/scroll-top.svg" class="scroll-top" width="20px">
    </div>
</div>
<div class="blockComments">
    <form class="formComment">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="commentsInputButton">
            <input type="text" placeholder="Qu'en avez vous pensé? ...">
            <button class="buttonComments">Publier</button>
        </div>
    </form>
    <img class="separateComments" src="./assets/images/separateNewsletter.svg">
    <div class="blockCommentImg">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="comment">
            <div class="commentPseudo">
                Chilly:
            </div>
            <div class="commentContent">
                Quel article wow ! Merci pour le tuyau :)
            </div>
        </div>
        <div class="dateComment">2j  <img src="./assets/images/dateCommentImg.svg" width="50px"></div>
    </div>
    <img class="separateComments" src="./assets/images/separateNewsletter.svg">
    <div class="blockCommentImg">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="comment">
            <div class="commentPseudo">
                Chilly:
            </div>
            <div class="commentContent">
                Incroyable !
            </div>
        </div>
        <div class="dateComment">3j  <img src="./assets/images/dateCommentImg.svg" width="50px"></div>
    </div>
</div>
<div class="blockImgHowToVeganBot">
    <img class="imgNewsBot" src="./assets/images/imgHowToVeganBot.svg">
</div>
{% endblock %}