<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
  <header>
      <div class="AdminTitle">
          <img src="./assets/images/logo_sloth.svg" width="80px">
          <h1>Veg'n'Chill</h1>
      </div>
      <nav class="navHeaderMain">
        <a href="?action=home">Accueil</a>
        <a href="?action=article">Actualités</a>
        <a href="#">How to vegan?</a>
        <a href="#">#FoodAddict</a>
        <a href="#">A propos</a>
        {% if user['username'] is defined %}
            {% if user['rank_id'] == 3 or user['rank_id'] == 2%}
            <a href="?action=addArticle">add article</a>
            {% endif %}
            {% if user['rank_id'] == 3 %}
            <a href='?action=homeAdmin'>Go to admin panel</a>
            {% endif %}
        {% else %}
        {% endif %}
      </nav>
      <div class="headerProfil">
          <img src="./assets/images/mon_compte.svg" width="50px" height="50px">
          <a href="#">Mon Espace</a>
      </div>
  </header>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
