<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="./assets/login.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<header class="header">
    <a href="#navMobile"><i class="fas fa-bars"></i></a>
    <div class="AdminTitle">
        <img src="./assets/images/logo_sloth.svg" width="80px">
        <h1 class="title">Veg'n'Chill</h1>
    </div>
    <div id="navMobile">
        <nav id="navHeaderMain">
            <a href="?action=home">Accueil</a>
            <a href="?action=article">Actualités</a>
            <a href="?action=howToVegan">How to vegan?</a>
            <a href="?action=foodAddict">#FoodAddict</a>
            <a href="?action=about">A propos</a>
        </nav>
        <a class="close closeMenuMobile" href="#">&times;</a>
    </div>
    <div class="headerProfil">
        {% if user['username'] is defined %}
            <a class="btn account" href="#TODO-ACCOUNT"><img src="./assets/images/mon_compte.svg" width="50px" height="50px"></a>
            <a class="btn account textBtnAccount" href="#TODO-ACCOUNT">Mon Espace</a>
        {% else %}
            <a class="btn linkLogin" href="#popup-login"><img src="./assets/images/mon_compte.svg" width="50px" height="50px"></a>
            <a class="btn linkLogin textBtnAccount" href="#popup-login">Se connecter</a>
        {% endif %}
        
    </div>
</header>
<div id="popup-login" class="overlay">
    <div class="popup">
        <div class="blockLogin">
            <h2 class="login-title">Connexion</h2>
            <div class="content-login">
                <form name="login" method="POST" action="?action=login">
                    <div class="backgroundInputLogin"><input type="text" name="pseudo" placeholder="Identifiant"><br></div>
                    <div class="backgroundInputLogin"><input type="password" name="password" placeholder="Mot de Passe"><br></div>
                    <div class="ForgetPasswordLogin">
                        <div class="forgetPassword"><a href="?action=forgottenPassword" class="new-pass">Mot de passe oublié?</a></div>
                        <button class="btn btnLogin">Connexion <img src="./assets/images/arrow.svg"></button>
                    </div>
                    <img class="imgPopup" src="./assets/images/logo_sloth.svg">
                </form>
            </div>
        </div>
        <div class="blockRgister">
            <h2 class="register-title">Inscription</h2>
            <div class="content-register">
                <form name="register" method="POST" action="?action=register">
                    <div class="backgroundInputLogin"><input type="text" name="firstname" placeholder="Prénom"><br></div>
                    <div class="backgroundInputLogin"><input type="text" name="lastname" placeholder="Nom"><br></div>
                    <div class="backgroundInputLogin"><input type="email" name="email" placeholder="E-mail"><br></div>
                    <div class="backgroundInputLogin"><input type="text" name="pseudo" placeholder="Identifiant"><br></div>
                    <div class="backgroundInputLogin"><input type="password" name="password" placeholder="Mot de Passe"><br></div>
                    <div class="backgroundInputLogin"><input type="password" name="repeatPassword" placeholder="Répétition Mot De Passe"><br></div>
                    <button class="btn btnRegister">On y go les cocos <img src="./assets/images/arrow.svg"></button>
                </form>
            </div>
        </div>
        <a class="close" href="#">&times;</a>
    </div>
</div>
<div id="TODO-ACCOUNT" class="overlay overlayProfile">
    <div class="blockTodo-Account">
        <div class="blockTodo-AccountItems">
            {% if user['username'] is defined %}
                <a href="?action=profile">Profil</a>
                <a href="?action=logout">Déconnexion</a>
                {% if user['rank_id'] == 4 or user['rank_id'] == 3 %}
                    <a href="?action=addArticle">Ajouter un article</a>
                {% endif %}{% if user['rank_id'] == 4 %}
                <a href='?action=homeAdmin'>Aller à l'admin pannel</a>
            {% endif %}
            {% else %}
            {% endif %}
        </div>
        <a href="#" class="close">x</a>
    </div>
</div>
{% block content %}{% endblock %}
<footer>
    <div class="contentFooter">
        <ul class="footerItems1">
            <li class="titleFooter">Plan du Site</li>
            <li>Actualités</li>
            <li>How To Vegan</li>
            <li>#FoodAddict</li>
        </ul>
        <ul class="footerItems2">
            <li class="titleFooter">On se retrouve</li>
            <li><img src="./assets/images/instagram.svg" width="20px">@VeganChill</li>
            <li><img src="./assets/images/facebook.svg" width="20px">VeganChill</li>
            <li><img src="./assets/images/youtube.svg" width="20px">VeganChill</li>
        </ul>
        <ul class="footerItems3">
            <li class="titleFooter">A propos</li>
            <li>La Team</li>
            <li>Contact</li>
        </ul>
        <img src="./assets/images/rs.svg">
    </div>
</footer>
{% block script %}
<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="./assets/scripts/login.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src=“https://www.googletagmanager.com/gtag/js?id=UA-120026285-1“></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag(‘js’, new Date());

        gtag(‘config’, ‘UA-120026285-1’);
    </script>
{% endblock %}
</body>
</html>