{% extends 'layout.html.twig' %}

{% block page_title %}Petition{% endblock %}

{% block content %}
    <div class="imgTitlePage imgTitleArticle">
        <div class="blockTitlePage">
            <h1>Pétition</h1>
            <div class="likeTitlePage"><img class="greenHeart" src="./assets/images/greenHeart.svg">35 personnes aiment</div>
            <h3>La réforme de la chasse a commencé</h3>
            <p>Comme annoncé lors de sa campagne présidentielle, Macro commence dès aujourd’hui sa réforme de la chasse. Son objectif est d’accroitre le nombre de chasseurs et d’inciter les jeunes à rejoindre les plus d’un million de français le pratiquant déjà.</p>
            <button class="btnNovice">C'EST PARTI MON KIWI</button>
        </div>
    </div>
    <div class="blockOthersPetition">
        <h3 class="titleOthersPetition">Ces pétitions pourraient aussi vous intéresser ;3</h3>
        <div class="blockItemsOthersPetition">
            <img src="./assets/images/supervegan.svg">
            <img src="./assets/images/supervegan.svg">
            <img src="./assets/images/supervegan.svg">
            <img src="./assets/images/supervegan.svg">
        </div>
    </div>
<div class="blockCommentsMobile">
    <h3 class="titleCommentsMobile">Commentaires</h3>
    <form>
        <div class="flexImgInputComments">
            <img src="./assets/images/logo_sloth.svg" width="50px">
            <input type="text" placeholder="Commentaires">
            <button class="buttonComments">
                <img class="arrowComments" src="./assets/images/arrow.svg" width="30px">
            </button>
        </div>
    </form>
    <div class="viewAllComments">
        <div class="viewAllCommentsText">Voir tous les commentaires</div>
        <img src="./assets/images/scroll-top.svg" class="scroll-top" width="20px">
    </div>
</div>
<div class="blockComments">
    <form class="formComment">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="commentsInputButton">
            <input type="text" placeholder="Qu'en avez vous pensé? ...">
            <button class="buttonComments">Publier</button>
        </div>
    </form>
    <img class="separateComments" src="./assets/images/separateNewsletter.svg">
    <div class="blockCommentImg">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="comment">
            <div class="commentPseudo">
                Chilly:
            </div>
            <div class="commentContent">
                Quel article wow ! Merci pour le tuyau :)
            </div>
        </div>
        <div class="dateComment">2j  <img src="./assets/images/dateCommentImg.svg" width="50px"></div>
    </div>
    <img class="separateComments" src="./assets/images/separateNewsletter.svg">
    <div class="blockCommentImg">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="comment">
            <div class="commentPseudo">
                Chilly:
            </div>
            <div class="commentContent">
                Incroyable !
            </div>
        </div>
        <div class="dateComment">3j  <img src="./assets/images/dateCommentImg.svg" width="50px"></div>
    </div>
</div>
<div class="blockImgHowToVeganBot">
    <img class="imgNewsBot" src="./assets/images/imgHowToVeganBot.svg">
</div>
{% endblock %}