@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("fonts/Courgette-Regular.ttf");
}
@font-face {
    font-family: "Lato-Medium";
    src: url("fonts/Lato-Medium.ttf");
}
.listThanks li, .flexHowToVegan2Content li, footer li, .board li, .blockTitlePagesSubPages li{
    list-style: none
}
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
.AdminTitle{
    display: flex;
    align-items: center;
    flex-direction: row;
}
h1{
    font-family: annabelle, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    color: #00ACC1;
}
.adminNav{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    background: #AEFBFF;
    margin: 0 -8px;
    width: 100vw;
}
.adminNav > *:nth-child(1){
    padding-left: 5%;
}
.adminNav a{
    font-family: "Montserrat-Regular";
    padding: 10px 20px;
    text-decoration: none;
    color: #AAAAAA;
}
.adminNav a:hover{
    text-decoration: none;
    background: #DBFDFF;
}
.msgHomeAdmin{
    font-family: "Courgette-Regular";
    color: #858585;
    font-size: 1.5em;
    margin: 50px 0 50px 70px;
}
.blocksHomeAdmin{
    display: flex;
    flex-direction: row;
}
.blockHomeAdminLeft, .blockHomeAdminRight{
    display: flex;
    flex-direction: column;
}
.blockHomeAdminLeft{
    width: 20VW;
}
.blockHomeAdminRight{
    width: 60vw;
}
fieldset{
    margin-top: 20px;
    border-radius: 10px;
    font-family: "Lato-Regular";
    font-size: 1.3em;
    color: #0DB0C4;
    margin-left: 30px;
    width: 100%;
    background: #F3F3F3;
    border: 0;
}
.notePad{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
fieldset button{
    padding: 5px 20px;
    font-family: "Montserrat-Regular";
    border: 0;
    border-radius: 5px;
    color: #858585;
    background: #AEFBFF;
    cursor: pointer;
}
#textNotePad{
    display: none;
    min-height: 30vh;
    min-width: 100%;
    margin-top: 10px;
}
.rencentMemberContent{
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.6em;
    color: #9F9F9F;
}
.searchUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchUser input{
    border: 0;
    border-radius: 10px;
}
.blockHomeAdminRight fieldset{
    margin-top: 50px;
    margin-left: 150px;
}
.headersAdmin{
    border-radius: 10px;
    margin-top: -5px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #AAAAAA;
    background: #AEFBFF;
}
.header{
    display: flex !important;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.title{
    display: none;
}
#navMobile{
    display: none;
}
#navMobile{
    font-family: "Lato-Medium";
    font-size: 1.5em;
    width: 59%;
    margin: 0 5%;
    flex-direction: row;
    justify-content: space-around;
}
#navMobile:target{
    border: 10px solid #AEFBFF;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    margin-top: 80px;
}
.closeMenuMobile{
    font-size: 30px !important;
}
#navHeaderMain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#navHeaderMain a{
    text-decoration: none;
    color: #707070;
}
#navHeaderMain a:hover{
    text-decoration: underline green;
}
.fa-bars{
    font-size: 3em;
    color: #00ACC1;
}
.headerProfil{
    font-family: "Lato-Medium";
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.headerProfil a{
    display: none;
    font-size: 1.5em;
    margin: 10px;
    text-decoration: none;
    color: #707070;
}
.headerProfil a:hover{
    text-decoration: underline green;
}
.popup{
    width: 80vw !important;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.popup h2{
    color: #00ACC1 !important;
}
.backgroundInputLogin{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background: #AEFBFF;
}
.popup input{
    width: 100%;
    background: #AEFBFF;
    border: 0;
    border-bottom: 1px solid black;
}
.ForgetPasswordLogin{
    font-family: annabelle;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.loginWithArrow{
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnLogin{
    background: inherit;
    width: 9vh;
}
.btnRegister{
    background: inherit;
}
.btnRegister{
    font-family: annabelle;
    width: 9vh;
    margin-left: 20vw;
}
.statsContent{
    border-collapse: collapse;
    font-size: 0.6em;
    color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.statsContent td{
    text-align: center;
    margin-left: 50px;
    height: 30px;
    width: 200px;
}
.textInligne{
    margin-bottom: 20px;
    margin-left: 60px;
    color: #AAAAAA;
}
.bold{
    font-weight: bold;
    color: #7B7B7B;
}
.InligneContent{
    margin-left: -50px;
    font-size: 0.6em;
    color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inLigne{
    padding-left: 100px;
}
.adminTitle{
    font-family: "Courgette-Regular";
    color: #858585;
}
.blocksGeneralAdmin{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.titleBoard{
    margin: 20px 0;
    font-size: 1.5em;
    color: #00ACC1;
}
.contentBoard{
    color: #858585;
    margin-left: -40px;
}
.board{
    font-size: 1em;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1px 20px;
    width: 15%;
    background: #F3F3F3;
    margin-left: 20px;
}
.subTitleBoard{
    font-weight: bold;
    color: #858585;
    margin-left: 20px;
}
.board a{
    text-decoration: none;
    color: #858585;
}
.board a:hover{
    font-weight: bold;
}
.pages, .subPages{
    background: #F3F3F3;
}
.pageTitleName{
    width: 80%;
}
.pageTitleArticle{
    width: 80%;
    margin-left: 2vw;
}
.displayNav{
    margin-top: 50px;
}
.displayTitleStats{
    width: 50%;
}
.blockGeneralAdminRight{
    display: flex;
    flex-direction: column;
}
.blockPagesSubPages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blockTitlePagesSubPages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.displayAdminRight .adminTitle{
    margin-left: 35px;
}
.displayContent td{
    width: 1000px;
}
.displayAdminRight{
    margin-top: -150px;
    width: 70%;
}
.UsersNav{
    margin-top: 80px;
    height: 350px;
}
.titleUserAdmin{
    margin-left: 15%;
    color: #858585;
}
.blockUsers{
    display: flex;
    flex-direction: row;
}
.blockMidUsers{
    width: 500px;
}
.blockRightUsers{
    margin-top: 50px;
    margin-left: 100px;
    width: 1000px;
}
.blockActivPost{
    width: 600px;
}
.searchUserAdminUser{
    width: 300px;
}
footer{
    display: none !important;
    background: #EEEEEE;
    width: 100vw;
    font-family: Calibri;
}
.contentFooter{
    font-size: 1.5em;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10%;
    padding: 30px 0;
    width: 80%;
}
.contentFooter > img{
    width: 250px;
    height: 80px;
}
.titleFooter{
    font-weight: bold;
    margin-bottom: 10px;
}
.imgBurgerHome{
    z-index: -1;
    font-family: "Montserrat-Regular";
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100vw;
    height: 42vw;
    background-image: url("./images/Vegan-Black-Bean-Burger-with-Beets-and-Quinoa%20copie.svg");
    background-repeat: no-repeat;
    margin: 0 -8px;
    position: relative;
}
.blockTextBurger{
    width: 90%;
    height: 50%;
    display: none;
    margin-left: 7vw;
}
.TextImgBurger1{
    font-size: 3vw;
    font-weight: bold;
}
.TextImgBurger2{
    margin: 2vw 0;
    font-size: 3vw;
}
.btnImgBurger{
    font-size: 3vw;
    padding: 1vw 1.3vw;
    color: #ffffff;
    background: inherit;
}
.headerOnTheFrontPage{
    width: 100vw;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnImgBurger:hover{
    cursor: pointer;
}
.backgroundOnTheFrontPage{
    position: absolute;
    background-image: url("./images/bgFoods.svg");
    width: 100vw;
    height: 80vh;
    z-index: -1;
}
.blockOnTheFrontPage{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 119vh;
    margin-top: -100px;
}
.lineSeparateLeft, .lineSeparateRight{
    width: 38vw;
    height: 1px;
    background: #000;
}
.titleOnTheFrontPage{
    font-family: "Courgette-Regular";
    font-size: 1em;
    padding: 0 2vw;
    margin-top: -10px;
}
.articlesOnTheFrontPage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 1.5vw;
}
.articlesOnTheFrontPage a{
    text-decoration: none;
    color: #000;
}
.articlesOnTheFrontPage a:hover{
    background: #D6FCFF;
    text-decoration: none;
    color: #000;
}
.articleOnTheFrontPage2, .articleOnTheFrontPage3, .articleOnTheFrontPage4{
    display: none;
}
.blockArticleOnTheFrontPage{
    font-size: 2em;
    border-radius: 6.4vw;
    margin-left: 20vw;
    margin-top: 20px;
    width: 60vw;
    background: white;
    border: 1px solid black;
    box-shadow: 2px 5px 14px;
}
.titleArticle{
    font-family: "Lato-Medium";
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.userArticle{
    font-family: "Lato-Regular";
    text-align: center;
}
.nameUserArticle{
    font-style: italic;
}
.iconHeart{
    display: none;
    margin-left: 10px;
}
.divLikeCommentArticle{
    font-family: "Montserrat-Regular";
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}
.novice{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    margin: 5vh 0;
    width: 90vw;
}
.novice img{
    display: none;
}
.noviceLeft{
    margin-left: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleNovice{
    font-family: "Courgette-Regular";
    font-size: 1.5em;
    color: #5E6666;
    align-self: center;
}
.textNovice{
    width: 90%;
}
.textHowToVegNovice{
    margin: 20px 0;
    align-self: center;
}
.btnNovice{
    color: #000;
    align-self: center;
    background: #A7FFEB;
    border-radius: 2vw;
    padding: 10px 50px;
}
.btnNovice:hover{
    cursor: pointer;
}
.btnNovice button{
    background: inherit;
    border: 0;
}
.blockLinksHome{
    font-family: Bahnschrift;
    font-weight: bold;
    display: grid;
    grid-template-rows: 80vw;
}
.backgroundHomeMobile1, .backgroundHomeMobile2, .backgroundHomeMobile3{
    background-image: url("./images/bgFoods.svg");
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 80vh;
}
.backgroundHomeMobile1{
    z-index: -1;
    margin-top: 500px;
}
.backgroundHomeMobile2{
    height: 79vh;
    z-index: -1;
}
.backgroundHomeMobile3{
    margin-top: 545vw;
    z-index: -1;
}
.blockLink1 {
    background-image: url('./images/supervegan.svg');
    background-repeat: no-repeat;

}
.blockLink1, .blockLink2, .blockLink3{
    width: 100vw;
}
.blockLink1 .textSuperVegan{
    text-align: center;
}
.blockLink2 .textLinksHome{
    padding-left: 2vw;
    padding-top: 25%;
}
.textLinksHome{
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5em;
}
.textLinksHome .textSuperVegan{
    text-align: center;
}
.textSuperVegan{
    width: 90%;
    padding-top: 5%;
}
.textPointOfSale{
    width: 75%;
    padding-left: 2vw;
    padding-top: 5%;
}
.textTips{
    padding-left: 2vw;
    padding-top: 30%;
}
.blockLinksHomeRight {
    display: grid;
    grid-template-rows: repeat(2, 41vw);
    grid-template-columns: 61vw;
}
.blockLink2{
    background-image: url('./images/pointOfSale.svg');
    background-repeat: no-repeat;
}
.blockLink3 {
    background-image: url("./images/tip.svg");
    background-repeat: no-repeat;
}
.blockLink1:hover, .blockLink2:hover, .blockLink3:hover{
    text-decoration: none;
}
.blockNewsletter{
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: center;
}
.titleNewsletter{
    font-family: "Courgette-Regular";
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.separateNewsletter1{
    width: 83vw;
    margin-bottom: 30px;
}
.separateNewsletter2{
    width: 83vw;
    margin-top: 30px;
}
.textNewsletter1, .textNewsletter2{
    font-size: 2em;
    font-family: "Lato-Regular";
    width: 100vw;
    text-align: center;
}
.textNewsletter2{
    margin: 15px 0;
}
.newsletterBtn{
    background: inherit;
    font-size: 30px;
    font-family: annabelle;
    border: 0;
    margin-left: 10px;
}
.inputNewsletter{
    width: 75%;
    background: inherit;
    border: 0;
    border-bottom: 1px solid #707070;
    color: #B2B2B2;
    text-indent: 5px;
}
.newsletterBtn{
    cursor: pointer;
}
.aboutHome{
    width: 100vw;
}
.aboutHome button{
    background: inherit;
    border: 0;
}
.titleAboutHome{
    font-size: 3em;
    color: #666666;
    font-family: "Courgette-Regular";
    text-align: center;
    width: 100vw;
    margin-top: 80px;
}
.blockShadows{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutHomeBtn{
    font-family: "Montserrat-Regular";
    color: #000;
    padding: 1.7vw 21vw;
    font-size: 1.5em;
    background: #A7FFEB;
    border-radius: 50px;
    margin: 10% 0;
}
.aboutHomeBtn:hover{
    cursor: pointer;
}
.imgTitlePage{
    margin-left: -8px;
    width: 100vw;
    height: 44vw;
    background-repeat: no-repeat;
}
.imgTitlePage h1, .likeTitlePage, .imgTitlePage h3, .imgTitlePage p{
    font-size: 2vw;
}
.imgTitleArticle{
    background-image: url('./images/imageTitleNews.svg');
}
.imgTitleRecipe{
    background-image: url("./images/grandTiramisu.svg");
}
.imgTitleHowToVegan{
    background-image: url("./images/imgTitleHowTo.svg");
}
.aboutTitleImg{
    background-image: url("./images/aboutTitleImg.svg");
}
.aboutTitleImg p{
    width: 70%;
}
.imgTitleInterview{
    background-image: url("./images/imgTitleInterview.svg");
}
.imgTitleInterview h1{
    margin-bottom: 20px;
}
.blockTitlePage{
    display: none;
}
.divHowToVegan{
    font-family: "Lato-Medium";
    font-size: 1.5em;
    margin-left: 20%;
    width: 60%;
}
.divHowToVegan h3{
    font-size: 1.5em;
    margin-top: 15%;
}
.blockImgHowToVeganBot{
    display: none;
}
.blockNews{
    font-family: "Lato-Medium";
    width: 80vw;
    margin-left: 10vw;
}
.blockNews img{
    margin: 50px 0;
}
.blockCommentsMobile{
    background: #D6FCFF;
    margin-left: -8px;
    width: 100vw;
    margin-bottom: -8px;
}
.blockComments{
    display: none;
}
.flexImgInputComments{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.buttonComments{
    background: inherit;
    border: 0;
}
.blockCommentsMobile h3{
    margin-left: 15%;
}
.blockCommentsMobile input{
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    height: 30px;
}
.blockCommentsMobile button{
    margin-top: 10%;
}
.viewAllComments{
    padding: 5% 18%;
    display: flex;
    flex-direction: row;
}
.btnPetition{
    font-size: 2vw;
    padding: 1vw 5vw;
    margin-bottom: 1vw;
}
.similarArticle{
    font-family: "Lato-Medium";
    display: none;
}
.titleOthersPetition{
    font-family: "Lato-Medium";
    margin-top: 100px;
    width: 100vw;
    text-align: center;
}
.blockItemsOthersPetition{
    margin-bottom: 100px;
}
.mail{
    font-size: 3vw;
    display: flex;
    flex-direction: row;
}
.textMail{
    margin-left: 10px;
}
.blockFormContact{
    display: flex;
    justify-content: center;
    width: 100vw;
    background: #D6FCFF;
}
.blockFormContact h3{
    margin-bottom: 5%;
}
.blockFormContact form{
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.blockFormContact input{
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blockFormContact button{
    background: inherit;
    border: 0;
    margin-left: 90%;
}
.emailFormContact, .objectFormContact{
    padding: 10px;
    border-bottom: 2px solid black !important;
}
.messageFormContact{
    padding: 10px;
    padding-bottom: 100px;
}
.blockImgTeam{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin-left: 10%;
}
.blockImgTeam img{
    width: 35vw;
    padding: 10px;
}
.blockTextListThanks{
    margin-top: 20px;
    width: 80%;
    font-size: 2em;
    margin-left: 10%;
}
.listThanks{
    margin: 20px 0;
}
.bgFormContact{
    display: none;
    margin-left: -70%;
    width: 30%;
    height: 70%;
    transform: rotate(-25deg);
    position: absolute;
    background-image: url("./images/bgFoods.svg");
}
.blockInterview{
    font-size: 2em;
    width: 80%;
    margin-left: 10%;
}
.blockInterview h3{
    font-family: "Lato-Medium";
}
.answer, .question{
    font-family: Bahnschrift;
}
.question img{
    width: 10%;
    height: 50%;
}
.answer img{
    margin-left: 90%;
    width: 10%;
    margin-top: 50px;
}
.bubbleQuestion{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    position: relative;
    background: #AEFBFF;
    border: 2px solid #6CDDE7;
    border-radius: 10px;
    padding: 10px;
}
.bubbleAnswer{
    width: 80%;
    margin-left: 10%;
    position: relative;
    background: #D5EEEF;
    border: 2px solid #6CDDE7;
    padding: 10px;
    border-radius: 10px;
}
.bubbleQuestion:before{
    position: absolute;
    content: "";
    top: 88%;
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-right: 26px solid #AEFBFF;
    border-bottom: 13px solid transparent;
    transform: rotate(196deg);
}
.bubbleAnswer:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-right: 26px solid #D5EEEF;
    border-bottom: 13px solid transparent;
    transform: rotate(133deg);
    right: 0;
    margin-top: 7%;
}
.titleArticlePage{
    background-image: url("images/imgTitleArticle.svg");
}
.titleArticlePage{
    font-size: 1vw;
}
.titleFoodAddictPage{
    background-image: url("images/bg-recette.svg");
}
.titleFoodAddictArticle{
    width: 100vw;
    background-repeat: no-repeat;
    height: 44vw;
}
.titleFoodAddictArticle h1{
    font-size: 4vw;
    display: none;
    color: white;
    padding-top: 3%;
    margin-left: 3%;
}
.titleFoodAddictArticle button{
    font-size: 2em;
    display: none;
    margin-left: 65%;
    margin-top: 25%;
    background: rgba(255, 255, 255, 0);
    color: white;
}
.blockArticlePage{
    background: white;
}
.divSearchArticle{
    background: #F2FEFF;
}
.formSearchArticle{
    text-align: center;
    width: 100vw;
    padding: 10px;
}
.searchboxArticle{
    padding-left: 10px;
    background: inherit;
    width: 60%;
    border: 0;
    border-bottom: 1px solid black;
}
.buttonSumitSearchArticle{
    background: inherit;
    border: 0;
    margin-left: -35px;
}
.navArticlePage{
    padding-top: 10px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navArticlePage div:hover{
    cursor: pointer;
    text-decoration: underline #A7FFEB;
}
.allArticlesPageArticle{
    grid-template-columns: 1fr;
    width: 100vw;
    display: grid;
    margin: 0 1.5vw;
}
.allArticlesPageArticle a{
    text-decoration: none;
    color: #000;
}
.allArticlesPageArticle a:hover{
    background: #D6FCFF;
    text-decoration: none;
    color: #000;
}
.allArticlesPageArticle .blockArticleOnTheFrontPage{
    border-radius: 8.3vw;
    width: 75vw;
    margin-left: 10vw;
    margin-top: 20px;
}
.changePageArticleMobile{
    display: block;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.botArticlePageMobile{
    display: block;
    width: 100vw;
    height: 10vh;
    background: #F2FEFF;
}
.allArticlesPageArticle{

}
.advanceSearchArticle{
    display: none;
}
.LastNews{
    display: none;
}
.divSearchArticle, .lastNewsWithNav{
    font-size: 1em;
}
.changePageArticleDesktop{
    display: none;
}
.titleRecipe{
    text-align: center;
}
.proportion{
    margin-bottom: 20px;
}
.ingredientWithImg{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.titleIngredient{
    display: flex;
    flex-direction: row;
}
.titleIngredient:hover{
    cursor: pointer;
}
#scroll1,#scroll2,#scroll3{
    width: 20px;
    margin-left: 5px;
}
.imgIngredient{
    width: 50%;
    margin-left: -10px;
}
.ingredient{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    font-size: 0.7em;
}
.ingredient h3{
  margin-left: 20px;
}
.ingredient li{
    margin-left: -15px;
    list-style: url("./images/list.svg");
}
.blockIngredient2-3{
    display: flex;
    flex-direction: column;
}
#ingredient2, #ingredient3{
    display: none;
}
.titleingredientWithImg{
    margin-top: 20px;
    font-size: 2em;
}
.ingredientWithImg img{
    width: 250px
}
.blockImgRecipe{
    font-size: 1em;
    background-image: url("./images/farine.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 5%;
}
.backgroundBlockRecipe{
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
}
.blockRecipe{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 80%;
    padding: 10px;
    margin: 0 7vw;
}
.titlePréparation{
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5vw;
    color: #0DAFC2;
}
.blockTipWithImg{
    display: flex;
    flex-direction: row;
}
.blockTip{
    margin: 4% 3%;
    display: flex;
    flex-direction: column;
}
.blockTip ul{
    width: 100%;
}
.blockTip li{
    margin-left: -10%;
    list-style: url("./images/list.svg");
}
.titleTip{
    margin-top: 30px;
}
.imgTip{
    margin-top: 10px;
    align-self: flex-start;
    width: 50%;
}
.imgRecipeBot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/imgRecipeBot.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 47vw;
    margin-left: -8px;
}
.textImgRecipeBot{
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.51);
    color: black;
    text-align: center;
    width: 100%;
}
@media (min-width: 480px) {
    .fa-bars, .closeMenuMobile, .backgroundHomeMobile1, .backgroundHomeMobile2{
        display: none;
    }
    .title, .headerProfil a, .blockTextBurger, .articleOnTheFrontPage2, .articleOnTheFrontPage3, .articleOnTheFrontPage4,
    .iconHeart{
        display: block;
    }
    #navMobile{
        display: flex;
    }
    #navHeaderMain{
        flex-direction: row;
    }
    .blockArticleOnTheFrontPage{
        margin-left: 1vw;
        width: 22vw;
        border-radius: 2.5vw;
    }
    .novice{
        font-size: 3rem;
        margin: 5vh 5vw;
        padding: 20px 100px;
        background: #EBFEFF;
    }
    .novice button{
        background: inherit;
        border: 0;
    }
    .novice img{
        display: block;
    }
    .blockLinksHome{
        grid-template-columns: repeat(3, 50vw);
        grid-template-rows: 42vw;
    }
    .blockLink1, .blockLink2, .blockLink3{
        width: 51vw;
    }
    .blockLink1:hover, .blockLink2:hover, .blockLink3:hover{
        font-size: 1.5em;
    }
    .blockLinksHomeRight{
        grid-template-rows: repeat(2, 20.5vw);
    }
    .blockShadows{
        background-image: url("./images/imageShadows.png");
        background-repeat: no-repeat;
        background-size: 100vw 27vw;
        height: 27vw;
    }
    .aboutHomeBtn{
        margin-top: 18%;
        margin-bottom: 0;
        padding: 0.7vw 8vw;
    }
    .blockLinksHome{
        background: #EBFEFF;
    }
    footer{
        display: block !important;
    }
    .contentFooter{
        display: flex;
    }
    .imgTitlePage h1{
        font-family: "Courgette-Regular";
        margin-top: 20%;
        color: rgba(43, 43, 43, 0.66);
    }
    .aboutTitleImg h1{
        margin-top: 5%;
    }
    .flexHowToVegan1, .flexHowToVegan3{
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
    }
    .flexHowToVegan2{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    .flexHowToVegan1Content, .flexHowToVegan2Content, .flexHowToVegan3Content{
        width: 100%;
    }
    .flexHowToVegan1Content p, .flexHowToVegan2Content p, .flexHowToVegan3Content p{
        width: 100%;
    }
    .imgHowToVegan6{
        padding: 10% 0;
    }
    .blockTitlePage{
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
        margin-left: 48%;
        background: rgba(255, 255, 255, 0.5);
        padding: 0 7%;
        font-size: 1.5em;
    }
    .blockTitlePage h3, .likeTitlePage, .blockTitlePage p{
        font-family: "Lato-Medium";
    }
    .blockTitlePage h3{
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .blockImgHowToVeganBot{
        display: block;
        text-align: center;
    }
    .imgHowToVeganBot{
        width: 10%;
        margin-bottom: 5%;
        text-align: center;
    }
    .imgNewsBot{
        margin-top: 5%;
        width: 7%;
        margin-bottom: 5%;
        text-align: center;
    }
    .greenHeart{
        width:  4vw;
        margin-right: 1vw;
    }
    .imgBurgerHome{
        z-index: 0;
    }
    .blockNews{
        font-size: 1.5em;
        width: 70%;
        margin-left: 10vw;
    }
    .blockNews h3{
        margin-bottom: 50px;
    }
    .flexNews{
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .flexNews img{
        height: 50vh;
    }
    .blockArticleSimilarArticle{
        display: flex;
        flex-direction: row;
    }
    .titleSimilarArticle{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .similarArticle{
        font-size: 1.5em;
        display: block;
        margin-left: 2vw;
        margin-top: 100vh;
        width: 15vw;
    }
    .itemSimilarArticle{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        height: 25vh;
        background-image: url("./images/supervegan.svg");
        background-repeat: no-repeat;
    }
    .textItemSimilarArticletext{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
    }
    .blockCommentsMobile{
        display: none;
    }
    .blockComments{
        font-family: "Lato-Medium";
        font-size: 1.5em;
        text-align: center;
        display: block;
        background: #D6FCFF;
    }
    .formComment{
        align-items: center;
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    .commentsInputButton{
        width: 25%;
    }
    .blockComments input{
        width: 70%;
        margin-left: 20px;
        text-align: center;
        border-radius: 10px;
        border: 0;
        border-bottom: 1px solid black;
    }
    .separateComments{
        width: 40%;
    }
    .blockCommentImg{
        display: flex;
        flex-direction: row;
        width: 100vw;
        margin-left: 36%;
    }
    .comment{
        margin: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .dateComment{
        height: 50%;
        margin-top: 3%;
    }
    .blockItemsOthersPetition{
        display: flex;
        flex-direction: row;
    }
    .titleTeam{
        margin-left: 25%;
    }
    .blockImgTeam{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .blockImgTeam img{
        width: 20vw;
        padding: 10px;
    }
    .titleOnTheFrontPage{
        font-size: 2em;
        margin-top: -21px;
    }
    .bgFormContact{
        display: block;
    }
    .titleFoodAddictArticle{
        display: block;
    }
    .titleFoodAddictArticle h1, .titleFoodAddictArticle button{
        display: block;
    }
    .titleFoodAddictArticle button{
        font-size: 2vw;
        padding: 1vw 4vw;
    }
    .blockArticlePage{
        background: #D6FCFF;
    }
    .divSearchArticle{
        display: flex;
        justify-content: center;
        background: none;
    }
    .formSearchArticle{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-top: 10%;
        width: 50vw;
        background: white;
    }
    .advanceSearchArticle{
        display: block;
        margin-top: 10px;
        margin-left: 30%;
    }
    .allArticlesPageArticle{
        background: white;
    }
    .lastNewsWithNav{
        margin: 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .LastNews{
        display: block;
        width: 60%;
        margin-left: 5%;
    }
    .navArticlePage{
        width: 40%;
        margin-right: 5%;
    }
    .lastNewsWithNav{
        background: white;
    }
    .allArticlesPageArticle .blockArticleOnTheFrontPage{
        width: 24vw;
        margin-left: 3%;
        border-radius: 2.5vw;
    }
    .allArticlesPageArticle{
        padding-bottom: 100px;
        padding-left: 3%;
        margin-left: 5%;
        width: 90%;
        grid-template-columns: repeat(3,1fr);
    }
    .botArticlePageMobile, .changePageArticleMobile{
        display: none;
    }
    .changePageArticleDesktop{
        font-size: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .divSearchArticle, .lastNewsWithNav{
        font-size: 2em;
    }
    .page1, .page2, .page3, .page4, .pageEtc, .page8{
        margin: 10px;
    }
    .ingredient{
        flex-direction: row;
    }
    #ingredient1, #ingredient2, #ingredient3{
        display: block;
    }
    #scroll1, #scroll2, #scroll3{
        display: none;
    }
    .blockTitleRecipeMobile{
        display: block;
    }
    .backgroundBlockRecipe{
        width: 40%;
        background: white;
    }
    .blockRecipe{
        background: white;
        border: 1px solid black;
        color: #000;
        width: 80%;
        padding: 10px;
        margin: 7% 8%;
    }
    .ingredient{
        font-size: 1.3em;
    }
    .blockTipWithImg{
        justify-content: center;
    }
    .imgTip{
        width: 20%;
    }
    .textImgRecipeBot{
        font-size: 3em;
    }
}