@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("fonts/Courgette-Regular.ttf");
}
li{
    list-style-type: none;
}
.AdminTitle{
    display: flex;
    align-items: center;
    flex-direction: row;
}
h1{
    font-family: annabelle, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    color: #00ACC1;
}
.adminNav{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    background: #AEFBFF;
    margin: 0 -8px;
    padding-left: 5%;
    width: 100%;
}
.adminNav a{
    font-family: "Montserrat-Regular";
    padding: 10px 20px;
    text-decoration: none;
    color: #AAAAAA;
}
.adminNav a:hover{
    text-decoration: none;
    background: #DBFDFF;
}
.msgHomeAdmin{
    font-family: "Courgette-Regular";
    color: #858585;
    font-size: 1.5em;
    margin: 50px 0 50px 70px;
}
.blocksHomeAdmin{
    display: flex;
    flex-direction: row;
}
.blockHomeAdminLeft, .blockHomeAdminRight{
    display: flex;
    flex-direction: column;
}
.blockHomeAdminLeft{
    width: 20VW;
}
.blockHomeAdminRight{
    width: 60vw;
}
fieldset{
    margin-top: 20px;
    border-radius: 10px;
    font-family: "Lato-Regular";
    font-size: 1.3em;
    color: #0DB0C4;
    margin-left: 30px;
    width: 100%;
    background: #F3F3F3;
    border: 0;
}
.notePad{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
fieldset button{
    padding: 5px 20px;
    font-family: "Montserrat-Regular";
    border: 0;
    border-radius: 5px;
    color: #858585;
    background: #AEFBFF;
    cursor: pointer;
}
#textNotePad{
    display: none;
    min-height: 30vh;
    min-width: 100%;
    margin-top: 10px;
}
.rencentMemberContent{
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.6em;
    color: #9F9F9F;
}
.searchUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchUser input{
    border: 0;
    border-radius: 10px;
}
.blockHomeAdminRight fieldset{
    margin-top: 50px;
    margin-left: 150px;
}
.headersAdmin{
    border-radius: 10px;
    margin-top: -5px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #AAAAAA;
    background: #AEFBFF;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navHeaderMain{
    font-size: 1.5em;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navHeaderMain a{
    text-decoration: none;
    color: #707070;
}
.navHeaderMain a:hover{
    text-decoration: underline green;
}
.statsContent{
    border-collapse: collapse;
    font-size: 0.6em;
    color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.statsContent td{
    text-align: center;
    margin-left: 50px;
    height: 30px;
    width: 200px;
}
.textInligne{
    margin-bottom: 20px;
    margin-left: 60px;
    color: #AAAAAA;
}
.bold{
    font-weight: bold;
    color: #7B7B7B;
}
.InligneContent{
    margin-left: -50px;
    font-size: 0.6em;
    color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inLigne{
    padding-left: 100px;
}
.adminTitle{
    font-family: "Courgette-Regular";
    color: #858585;
}
.blocksGeneralAdmin{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.titleBoard{
    margin: 20px 0;
    font-size: 1.5em;
    color: #00ACC1;
}
.contentBoard{
    color: #858585;
    margin-left: -40px;
}
.board{
    font-size: 1em;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1px 20px;
    width: 15%;
    background: #F3F3F3;
    margin-left: 20px;
}
.subTitleBoard{
    font-weight: bold;
    color: #858585;
    margin-left: 20px;
}
.board a{
    text-decoration: none;
    color: #858585;
}
.board a:hover{
    font-weight: bold;
}
.pages, .subPages{
    background: #F3F3F3;
}
.pageTitleName{
    width: 80%;
}
.pageTitleArticle{
    width: 80%;
    margin-left: 2vw;
}
.displayNav{
    margin-top: 50px;
}
.displayTitleStats{
    width: 50%;
}
.blockGeneralAdminRight{
    display: flex;
    flex-direction: column;
}
.blockPagesSubPages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blockTitlePagesSubPages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.displayAdminRight .adminTitle{
    margin-left: 35px;
}
.displayContent td{
    width: 1000px;
}
.displayAdminRight{
    margin-top: -150px;
    width: 70%;
}
.UsersNav{
    margin-top: 80px;
    height: 350px;
}
.titleUserAdmin{
    margin-left: 15%;
    color: #858585;
}
.blockUsers{
    display: flex;
    flex-direction: row;
}
.blockMidUsers{
    width: 500px;
}
.blockRightUsers{
    margin-top: 50px;
    margin-left: 100px;
    width: 1000px;
}
.blockActivPost{
    width: 600px;
}
.searchUserAdminUser{
    width: 300px;
}